<h1>Add Tweet</h1>
      <label for="content">Content: </label>
      <textarea id="content"></textarea>
      <div>
	<select name="childType" id="childType">
	  <option value="">Null</option>
	  <option value="retweet">Retweet</option>
	  <option value="reply">Reply</option>
	</select>
      </div>
      <label for="parent">Parent: </label>
      <input type="text" id="parent">

    <div>
    <form id="addFile" enctype="multipart/form-data">
	<h4>Add Media</h4>
	<input type="file" name="content">
	<button id ="addMedia">Add Media</button>
      </form>
    </div>
    <div>
      <h4>Uploaded Media</h4>
      <div id="mediaIds" name="content"></div>
      <input type="hidden" value="" id="mediaList">
    </div>
  
    <div><button id = "additem">Add Item</button></div>
<script>
$("#addMedia").on("click",function(event){
	event.preventDefault();
    let formData = new FormData(document.getElementById("addFile"));
    $.ajax({
	type: "POST",
	url: "/addmedia/",
	data: formData,
	processData: false,
	contentType: false,
	success: function(result) {
	    if (result.status === "OK") {
		document.getElementById("mediaIds").innerHTML += "<br>" + result.id;
		if (document.getElementById("mediaList").value == "") {
		    document.getElementById("mediaList").value = result.id;
		}
		else {
		    document.getElementById("mediaList").value += "," + result.id;
		}
	    }
	    else {
		console.log("Upload failed - Error: " + result.error);
	    }
	}
    });
});
$("#additem").on("click",function(event){
    let childType = $("#childType").val();
    if (childType == "") {
	childType = null;
    }
    let parent = $("#parent").val().length > 8 ? $("#parent").val() : null;
    let mediaList = $("#mediaList").val();
    if (mediaList == "") {
	mediaList = null;
    }
    else {
	mediaList = mediaList.split(",");
    }
   $.post("/additem",{content:$("#content").val(), childType:childType, media: mediaList, parent: parent}).then(resp=>{
	   console.log(resp);
   })
});
</script>