<h1>Add Tweet</h1>
      <label for="content">Content: </label>
      <textarea form="addform" id="content"></textarea>
      <div>
	<select name="childType" id="childType">
	  <option value="">Null</option>
	  <option value="retweet">Retweet</option>
	  <option value="reply">Reply</option>
	</select>
      </div>
      <label for="parent">Parent: </label>
      <input type="text" id="parent">

    <div>
    <form method="POST" id="addFile" enctype="multipart/form-data">
	<h4>Add Media</h4>
	<input type="file" name="content">
	<button id ="addMedia">Add Media</button>
      </form>
    </div>
    <div>
      <h4>Uploaded Media</h4>
      <div id="uploaded_media" name="content"></div>
      <input type="hidden" value="" id="media_list">
    </div>
  
    <div><button id = "additem">Add Item</button></div>
<script>
("#addMedia").on("click",function(event){
	console.log("IM HERE")
    let formData = new FormData(document.getElementById("addFile"));
    $.ajax({
	type: "POST",
	url: "/addmedia/",
	data: formData,
	processData: false,
	contentType: false,
	success: function(result) {
	    if (result.status === "OK") {
		document.getElementById("uploaded_media").innerHTML += "<br>" + result.id;
		if (document.getElementById("media_list").value == "") {
		    document.getElementById("media_list").value = result.id;
		}
		else {
		    document.getElementById("media_list").value += "," + result.id;
		}
	    }
	    else {
		console.log("Upload failed - Error: " + result.error);
	    }
	}
    });
});
("#additem").on("click",function(event){
    let childType = $("#childType").val();
    if (childType == "") {
	childType = null;
    }
    let parent = $("#parent").val();
    if (parent == "") {
	parent = null;
    }
    let mediaList = $("#mediaList").val();
    if (mediaList == "") {
	mediaList = null;
    }
    else {
	mediaList = mediaList.split(",");
    }
   $.ajax({
	"method": "POST",
	"route": "/additem/",
	"response_function": function(request) {
	    console.log(request);
	},
	"request_data": {
	    "content": $("#content").val(),
	    "childType": childType,
	    "parent": parent,
	    "media": mediaList,
	}
    })
});
</script>