<h1>Thy Tweeter Project</h1>

    <p><a href="/additem">Add Tweet</a></p>

    <p><a href="/getitem">Get Tweet</a></p>

    <p><a href="/likeuser">Like Tweet</a></p>

    <p><a href="/deleteitem">Delete Tweet</a></p>
    
    <p><a href="/searchpage">Search for Tweets</a></p>

    <p><a href="/getuser">Get User</a></p>

    <p><a href="/getuserfollowers">Get User Followers</a></p>

    <p><a href="/getuserfollowing">Get User Following</a></p>

    <p><a href="/getuserposts">Get User Posts</a></p>
    
    <p><a href="/follow">Follow User</a></p>

    <p><a href="/getmedia">Get Media</a></p>